<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nayhakamboj.jukebox">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".JukeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/juke_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartJoinPartyMainMenu" />
        <activity android:name=".StartParty" />
        <activity android:name=".PlaylistMainMenuActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SongListActivity" />
        <activity android:name=".FriendsListActivity" />
        <activity android:name=".JoinPartyActivity" />
        <activity android:name=".GuestMainMenu" />
        <activity android:name=".HostList" />
        <activity android:name=".ChecklistSongs"></activity>
    </application>

</manifest>
